.container {
    display: flex;
    gap: 0.5%;
    width: 1400px;
    height: 800px;
}

.pino {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 2em;
    border-style: solid;
    padding: 0.5%;
}

[tamanho] {
    font-size: 1em;
    text-align: center;
    align-content: center;
}

[tamanho="1"] {
    background-color: red;
    width: 95%;
    height: 90px;
}

[tamanho="2"] {
    background-color: green;
    width: 85%;
    height: 90px;
}

[tamanho="3"] {
    background-color: blue;
    width: 75%;
    height: 90px;
}

[tamanho="4"] {
    background-color: cyan;
    width: 65%;
    height: 90px;
}

[tamanho="5"] {
    background-color: yellow;
    width: 55%;
    height: 90px;
}

[tamanho="6"] {
    background-color: magenta;
    width: 45%;
    height: 90px;
}

[tamanho="7"] {
    background-color: olive;
    width: 35%;
    height: 90px;
}

[tamanho="8"] {
    background-color: indigo;
    width: 25%;
    height: 90px;
}

ol {
    font-size: 1.5em;
}